h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101266-1. Reconocer necesidades del usuario teniendo en cuenta el marco normativo, políticas de atención y portafolio de servicios de salud.
            li 
                span 230101266- 2.  Ofrecer información al usuario de acuerdo con necesidades y portafolio de servicios de salud.