.container
    .header-ecored
        h1 1. Sistema de seguridad social integral (Ley 100 de 1993)
    .jumbotron.bg-white

        img.img-a(src="assets/images/pages/tema_1/img_1.png").img-fluid

        .sub-ecored.mt-5#tema1_1
            h2 1.1 Modelo de salud

        p El artículo 152 de la Ley 100 de 1993 define los objetivos del Sistema General de la Seguridad Social en Salud como: “regular el servicio público esencial de la salud, crear condiciones de acceso de toda la población al servicio en todos los niveles de atención”.

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_2.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Disponibilidad] de los servicios e instituciones.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_3.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Aceptabilidad] la identificación y satisfacción de las necesidades expectativas en salud de la población.


            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_4.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Acceso] entendido como la posibilidad de llegar a la atención y a la oportunidad en la prestación como un elemento único e indivisible del anterior.


            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_5.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Garantía] de la calidad en los servicios.


                .jumbotron.card-media.mt-5
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img(src="assets/images/pages/tema_1/img_6.png").img-fluid
                        .col
                            .header-title Propósitos de la ley 100 de 1993


                            ul.ul1.mt-5
                                li 
                                    P Fortalecer las políticas de promoción y prevención.
                                li 
                                    P Establecer un sistema de reaseguro, mediante la creación de la subcuenta del ECAT (eventos catastróficos y accidentes de tránsito).
                                li 
                                    P Crear la subcuenta de compensación de la UPC y de solidaridad.
                                li 
                                    P Establecer el sistema de control a la demanda del servicio mediante los pagos moderados.
                                li 
                                    P Transformar los hospitales ESE.
                                li 
                                    P Favorecer la descentralización administrativa.
                                li 
                                    P Separar las funciones financieras de la prestación de servicios.
                                li 
                                    P Garantizar la cobertura universal de la población mediante la creación de los regímenes contributivo y subsidiado y los planes complementarios.
                                li 
                                    P Brindar la posibilidad de la libre elección del asegurador o prestador.
                                li 
                                    P Crear el plan integral de salud.
                           
        .sub-ecored.mt-5#tema1_2
            h2 1.2 Aseguramiento

        .row.justify-content-center.align-items-center
            .col
                p Mediante el aseguramiento, el sistema construye procesos de protección frente a las condiciones mencionadas y garantiza la prestación de los servicios. La Ley 1122 de 2007 define el aseguramiento como 

                ul.ul1
                            li 
                                p La administración del riesgo financiero.
                            li  
                                p La gestión del riesgo en salud.
                            li 
                                P La articulación de los servicios que garantice el acceso efectivo.
                            li 
                                p La garantía de la calidad en la prestación de los servicios de salud.
                            li 
                                p La representación del afiliado ante el prestador.
                            li 
                                p Los demás actores sin perjuicio de la autonomía de los usuarios
            .col-auto
                img(src="assets/images/pages/tema_1/img_7.png", alt="").img-icon

        .sub-ecored.mt-5#tema1_3
            h2 1.3 Integrantes del sistema

        p Para garantizar la articulación de los servicios el sistema tiene dos integrantes principales, las Empresas Promotoras de Salud también llamadas Empresas Administradoras de Planes de Beneficios con sus siglas EPS o EAPB respectivamente y las Instituciones Prestadoras de Salud IPS.

        section.card-border-bottom.pt-md-5

        .row.justify-content-center.mt-5.no-margin

            .col-12.col-md-5.mb-5.mr-md-4.my-5

                .card.color-2(style="min-widht: 280px")
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_8.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.cad-title Instituciones Prestadoras de Salud – IPS
                            hr.border-color-primary.border-2
                            p Las Instituciones Prestadoras de Salud o IPS son las encargadas de la entrega de servicios a los afiliados, son de carácter público o privado, sujetas a regulación por la Superintendencia Nacional de Salud.


            .col-12.col-md-5.mb-5.mr-md-4.my-5

                .card.color-2(style="min-height: 280px")
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_9.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.cad-title Empresas Promotoras de Salud – EPS
                            hr.border-color-primary.border-2
                            p Significa Entidad Promotora de Salud y es la encargada de promover la afiliación al sistema de seguridad social. No se presta servicio médico, solo administrativo y comercial.

        .sub-ecored.mt-5#tema1_4
            h2 1.4 Regímenes

            
                
        .row.justify-content-center.mt-5

            .col-md-4.my-6.my-md-0

                .card.color-3(style="min-height: 794px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_10.svg").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            img(src="assets/images/pages/tema_1/img_11.png")
                            h2.cad-title.text-center.mt-5 Régimen contributivo
                                                
                        p Según el Ministerio de Salud el régimen contributivo es un conjunto de normas que rigen la vinculación de los individuos y las familias al Sistema General de Seguridad Social en Salud, cuando tal vinculación se hace a través del pago de una cotización, individual y familiar, o un aporte económico previo financiado directamente por el afiliado o en concurrencia entre éste y su empleador.
                        p.mt-5 De la misma manera afilia a las personas con capacidad de pago para una cotización, que están en el sector formal de la economía, con ingresos iguales o superiores a un salario mínimo mensual y libertad de elección de la Empresa Promotora de Salud (EPS) que puede ser pública o privada.



            .col-md-4.my-6.my-md-0

                .card.color-4(style="min-height: 794px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_10.svg").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            img(src="assets/images/pages/tema_1/img_12.png")
                            h2.cad-title.text-center.mt-5 Régimen subsidiado
                            p Conforme al Ministerio de Salud el régimen subsidiado es el mecanismo mediante el cual la población más pobre del país, sin capacidad de pago, tiene acceso a los servicios de salud a través de un subsidio que ofrece el Estado.
                            p.mt-5 Igualmente afilia a la población sin capacidad de pago y a sus grupos familiares quienes reciben un subsidio total o parcial por parte del Estado el cual depende de la estratificación socioeconómica (niveles I, II y III), para los niveles I y II los subsidios son completos y para el nivel III especial.  Dichos niveles dependen de los resultados de la encuesta del Sistema de Identificación y Clasificación de Potenciales Beneficiarios para los Programas Sociales (SISBEN).



            .col-12.col-md-4.my-6.my-md-0

                .card.color-3(style="min-height: 794px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_10.svg").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            img(src="assets/images/pages/tema_1/img_13.png")
                            h2.cad-title.text-center.mt-5 Regímenes especiales
                            p Está conformado por el cotizante y beneficiario de las siguientes entidades.  Fuerzas Militares, la Policía Nacional, el Magisterio, los trabajadores de las universidades públicas y Ecopetrol hacen parte de un pequeño grupo de la población (aproximadamente el 5 %) que goza de otros esquemas de seguridad social a los que se han llamado Regímenes especiales.

        