.container
    .header-ecored
        h1 10. Plataforma estratégica
    .jumbotron.bg-white
        p La plataforma estratégica es la base sobre la cual se direcciona una organización. Donde se establece una:
        
        img.img-a(src="assets/images/pages/tema_10/img_1.png").img-fluid

        .header-arrow.mt-5
            h3.text-center En el siguiente enlace podrá visualizar la descripción completa de la plataforma estratégica del: 

        .row.justify-content-center.no-margin
                .col-12.col-md-5.mb-5.mr-md-4.my-5
                    section

                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/PES/plataforma-estrategica.pdf" target="_blank").media-link.color-4      

                            img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                            .media-link-title
                                p Ministerio de Salud y Protección Social 2018-2022.