.container
    .header-ecored
        h1 11. La comunicación
    .jumbotron.bg-white
        p.my-0 La comunicación en un medio donde interactúan 2 o más personas, realizando intercambio de ideas, información, sentimientos. Esta comunicación está conformada por una serie de elementos entre un emisor y un receptor, donde el emisor transmite el mensaje y el receptor lo interpreta. El poder de comunicarnos con los demás es fundamental para nuestro desarrollo como seres humanos.
        p Hay que mencionar además que se debe mejorar nuestra comunicación para logras transmitir acertadamente nuestro mensaje o información a las personas que nos escucha.

        img.img-a(src="assets/images/pages/tema_11/img_1.png").img-fluid

        h2.mt-5 Elementos de la comunicación
        p Como ya se ha mencionado, la definición de comunicación es básicamente el procedimiento mediante el cual un individuo establece contacto con otros, permitiéndole difundir una información. Por lo tanto, existen una serie de elementos que hacen posible este proceso:

        section.card-border-bottom.pt-md-5

            .row.justify-content-center.mt-5.my-5.no-margin

                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2.target11
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_2.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Emisor
                                hr.border-color-primary.border-2
                                p Es el encargado de iniciar la acción de comunicar y emitir cierta información. Éste decide de qué manera realizar la acción.


                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2.target11
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_3.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Receptor
                                hr.border-color-primary.border-2
                                p Es quien recibe el mensaje o información, ajustándolo e interpretando según los signos lingüísticos. Luego de su interpretación está en capacidad de emitir una respuesta al emisor.


                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2.target11
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_4.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Mensaje
                                hr.border-color-primary.border-2
                                p También conocido como la materia del proceso. Es el contenido bien sea, de una carta, un correo, un mensaje hablado o grabado, entre otros.

        section.card-border-bottom.pt-md-5
            .row.justify-content-center.mt-5.no-margin

                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2.target11
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_5.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Canal de comunicación
                                hr.border-color-primary.border-2
                                p Es el medio a través del cual es transmitida la información o mensaje, éste puede ser natural como lo es el aire, o artificial como existen muchos, entre ellos cartas, CD, etc.


                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2.target11
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_6.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Código
                                hr.border-color-primary.border-2
                                p Es un elemento fundamental en la comunicación, son signos del idioma, combinados por el emisor según sea el mensaje que desea transmitir.


                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2.target11
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_7.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Contexto
                                hr.border-color-primary.border-2
                                p Es el medio o entorno que rodea al emisor y receptor al momento de realizarse la comunicación (Adrián, 2019).

        .header-arrow.mt-5.my-5
            h3.text-center La comunicación asertiva

        p Es una habilidad social de gran valor, que está asociada a la inteligencia emocional y a la capacidad para comunicarse de manera armoniosa y eficaz con los demás. (Coelho, 2019)

        p La comunicación asertiva se basa en la reacción o criterio para comunicarte con el otro desde el respeto hacia los demás y lo que se quiere expresar. La respuesta a esta comunicación puede ser de carácter Pasivo-Asertivo-Agresivo.

        
        .row.justify-content-center.mt-5.my-5.no-margin

            .col-12.col-md-2.my-6.my-md-0
                img.img-a(src="assets/images/pages/tema_11/img_8.png").img-fluid
                
            .col-12.col-md-2.my-6.my-md-0
                img.img-a(src="assets/images/pages/tema_11/img_9.png").img-fluid

            .col-12.col-md-2.my-6.my-md-0
                img.img-a(src="assets/images/pages/tema_11/img_10.png").img-fluid

        p.mt-5 La comunicación asertiva impacta positiva o negativamente en nuestra relación con las demás personas tanto a nivel personal, profesional o laboral. (como nuestros usuarios) Se trata, en general, de mantener una comunicación simultánea, en nuestro caso, entre el usuario y nosotros donde prime el respeto y la armonía. Así logramos mejorar nuestro ambiente laboral con los demás y con la institución. 
        p El siguiente enlace presenta un video que da a conocer el poder de transmitir lo que queremos decir de una manera clara y concisa.     

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/eF-UJWjGSX8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')           

        .header-arrow.mt-5.my-5
            h3.text-center Tipos de Comunicación

        P Comunicación verbal. Nos permite expresar y transmitir un mensaje de manera:

        section.card-border-bottom.pt-md-5
            .row.justify-content-center.mt-5.no-margin

                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_11.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Oral


                .col-12.col-md-4.my-6.my-md-0

                    .card.color-2
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_11/img_12.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Escrita

        p Comunicación no verbal. No se emiten palabras o mensajes. Es esencialmente el lenguaje corporal donde interviene:

        ul.ul1
            li
                p Tono y velocidad de la voz.
            li
                p El entorno.
            li
                p La postura corporal.
            li
                p La postura facial.
