.container
    .header-ecored
        h1 12. Servicio al cliente
    .jumbotron.bg-white
        p.my-5 En relación con servicio al cliente son las diferentes estrategias ejecutadas dentro de una organización para interactuar con sus usuarios, para garantizar la calidad en la prestación de los servicios ofertados teniendo en cuenta ciertos factores, que me permitan ser más competente con el mercado.  

        section.card-border-bottom.pt-md-5
            .row.justify-content-center
                .col-12.col-md-6.my-6.my-md-0   
                    .card.color-2
                    
                        .card-body.text-center

                            .avatar.avatar-xxl.card-avatar.card-avatar-top
                                img(src="assets/images/pages/tema_12/img_1.png").avatar-img

                            p.header-step.flex-column.justify-content-center.align-items-center
                                h2.cad-title Para entender mejor su concepto a continuación se listan los factores que intervienen en el servicio al cliente:
                                hr.border-color-primary.border-2
                                
                                .row
                                    .col
                                        ul.ul1
                                            li 
                                                p Amabilidad.
                                        ul.ul1
                                            li
                                                p Atención personalizada.
                                        ul.ul1
                                            li
                                                p Rapidez en la atención.
                                        ul.ul1
                                            li
                                             p Ambiente agradable.

                                    .col
                                        ul.ul1
                                            li
                                                p Comodidad.
                                        ul.ul1
                                            li
                                                p Seguridad.
                                        ul.ul1
                                            li
                                                p Higiene. (Komiya, 2015).


        p El siguiente enlace lleva al video “Atención y Servicio al Cliente”, en donde explican la importancia de satisfacer al cliente, la importancia de satisfacer sus necesidades ante la prestación de un servicio o un producto. 

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/5xGoNUkHpZQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .header-arrow.mt-5.my-5
            h2.text-center Técnicas de comunicación.


        p Son las habilidades que utilizamos para general una adecuada comunicación. 
        p El siguiente enlace lleva a un video que da a conocer las 7 técnicas para desarrollar habilidades verbales.

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/6tGA8RDW-Z0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p Protocolo de comunicación telefónica, virtual y presencial. Un protocolo son normas o regla que se deben seguir para dar cumplimiento a una actividad, para llegar a la mejora continua del proceso generando así confianza y satisfacción de las dos partes. 

        p En el siguiente enlace del ministerio de salud, puede ampliar información  - Pag. 23-29.

        .row.justify-content-center.no-margin
                .col-12.col-md-5.mb-5.mr-md-4.my-5
                    section

                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/SG/SAB/protocolo-atencion-ciudadano-sector-salud.pdf" target="_blank").media-link.color-4      

                            img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                            .media-link-title
                                p Protocolo de atención al ciudadano

        p El siguiente enlace lleva a un video sobre la cortesía telefónica, presenta 4 sugerencias para realizar o recibir una llamada de forma adecuada.

        .col.mt-5
        .card
            .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/BDamU19Cvaw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        h2 Manejo y solución de conflictos.
        p Con respecto al manejo y solución de conflictos, nos direccionamos a la forma de manejar las inconformidades de los empleados o los usuarios por medio de estrategias diseñadas desde la dirección general de la institución para dar resolución a dichas diferencias, generando un ambiente agradable dentro del ámbito laboral o la prestación del servicio. 
        p Para ello debemos evitar:

        .row.justify-content-center
            .col.px-3
                ul.ul1
                    li
                        p Mala comunicación.
                ul.ul1
                    li
                        p Desempeño inapropiado.
                ul.ul1
                    li
                        p Diferencia de intereses.
                ul.ul1
                    li
                        p Inflexible. 

                p En los conflictos podemos encontrar varios aspectos positivos:

                ul.ul1
                    li
                        p Superándolos, crecemos.
                ul.ul1
                    li
                        p Nos da experiencia.
                ul.ul1
                    li
                        p Nos hace detectar puntos débiles.
                ul.ul1
                    li
                        p Es ocasión para mejorar la comunicación y las relaciones.
                ul.ul1
                    li
                        p Podemos fomentar la creatividad.
                ul.ul1
                    li
                        p Ayuda a definir los problemas y a tomar conciencia sobre los mismos.

                P La mejor manera de enfrentar los conflictos es:

                ul.ul1
                    li
                        p Reconociendo que existe.
                ul.ul1
                    li
                        p Definir el conflicto. (problema)
                ul.ul1
                    li
                        p Reconocer que soy corresponsable.
                ul.ul1
                    li
                        p Declarar explícitamente la voluntad de superarlo.
                ul.ul1
                    li
                        p Tolerancia con la otra parte. (Ver y valorar su punto de vista)
                ul.ul1
                    li
                        p Diseñar alternativas de solución y estar abiertos a innovaciones. 
                ul.ul1
                    li
                        p Elegir una solución en la que ganemos los dos.
                ul.ul1
                    li
                        p Comprometerse con dicha solución. (SANCHEZ, 2012) 



            .col-auto
                img.img-a.mt-0(src="assets/images/pages/tema_12/img_2.png").img-fluid

