.container
    .header-ecored
        h1 13. Trabajo en equipo: autoestima, autonomía
    .jumbotron.bg-white
        h2 ¿Qué es Trabajo en equipo?
        p Stoner (1996) define al equipo como personas que se interrelacionan con el propósito de lograr un objetivo común. Koontz & Weihrich (1998) conceptualizan al equipo como un número reducido de personas con destrezas que se complementan entre si comprometidas con un mismo objetivo, una serie de metas de desempeño y un método de trabajo del cual son solidariamente responsables.

        .row.justify-content-center
            .col.px-3
                h2 Características de trabajar en equipo.
                p Con relación al equipo de trabajo debe estar conformado por diferentes roles, algunos de ellos son: 
                ul.ul1
                    li
                        p El Creativo. 
                ul.ul1
                    li
                        p El Dinámico. 
                ul.ul1
                    li
                        p El coordinador.
                ul.ul1
                    li
                        p El evaluador.  
                ul.ul1
                    li
                        p El autónomo.  

                ul.ul1
                    li
                        p El perfeccionista. 

                p El equipo debe contar con una actitud de escucha y colaboración, es de saber que no es fácil el interactuar con diferentes tipos de personas.  

                
            .col-auto
                img.img-a.mt-0(src="assets/images/pages/tema_13/img_1.png").img-fluid

        .header-arrow-1.mt-5
                p.text-color-light.text-center Estimado aprendiz la finalidad del siguiente video “La Carreta - ¿A quién tienes en tu equipo?” es que usted reflexione con cuál de los personajes se identifica:

                .row.justify-content-center
                    .col
                        ul.ul2
                            li 
                                p Productor.
                        ul.ul2
                            li
                                p Hacedor.

                    .col
                        ul.ul2
                            li 
                                p Hacedor menos eficiente.
                        ul.ul2
                            li
                                p PTS potencial de problema.

                    .col
                        ul.ul2
                            li 
                                p SP Supresiva. 


        img.img-a(src="assets/images/pages/tema_3/img_5.png").img-fluid

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/p4MMuesoseI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p El video de “El trabajo en equipo” lo lleva a reflexionar sobre los triunfos que se pueden conseguir al seguir indicaciones haciendo uso de nuestras debilidades y fortalezas, Permitiendo que cada uno desempeñe su función dentro del equipo. 
        p A continuación, en el siguiente enlace, lleva a un video donde se presentan algunos ejemplos de trabajo de equipo.

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/k4zh8qKNG0M', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        h2 Autoestima – autonomía.
        p La autoestima marca en gran medida nuestro desarrollo. Del grado de autoestima dependerá su desarrollo en el APRENDIZAJE, en las RELACIONES SOCIALES, en las ACTIVIDADES DE LA VIDA DIARIA y, en consecuencia, en la construcción general de la FELICIDAD.

        p Autonomía y autoestima van ligados, cuando tenemos:

        ul.ul1
            li 
                p Buena autoestima: nos sentimos competentes y capaces.
            li
                p Baja autoestima: no confiamos en nuestras posibilidades. (Bueno, 2018)

        p El siguiente enlace lleva a un video donde se presentan algunas ideas con respecto a cómo pueden fomentar la motivación, autonomía y autoestima.  

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/0E7ryzsaLKs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        h2 Relaciones interpersonales.
        p Es la interacción que existe entre dos o más personas, que nos permite alcanzar diferentes propósitos basándose en los sentimientos de las personas.
        p Sin embargo, Este tipo de relaciones son la base, no solo de la vida personal sino también de la social y laboral.
        p Por otra parte “En el ámbito laboral surgen muchas discrepancias, recelos, roces; unos verbales, en el contexto de una conversación entre compañeros de trabajo; otros corporales, en la comunicación no verbal” (López Jerez, 2006).
        p “En el sentido objetivo las relaciones humanas pueden ser un medio para cumplir con las finalidades de la empresa, siempre y cuando éstas se identifiquen con el bien común. En el sentido subjetivo tienen como finalidad el desarrollo y perfeccionamiento humano, el cual también debería de constituir uno de los objetivos primordiales de toda organización. El olvido de esta finalidad principal, considerándola exclusivamente como un medio para alcanzar fines económicos, puede prevenir la obtención de estos últimos a mediano o largo plazo. La manipulación o falta de respeto a la dignidad personal, tarde o temprano darán resultados negativos tanto en el orden de la productividad como en el humano” (Soria Murillo, 2004). 

        img.img-a(src="assets/images/pages/tema_13/img_2.png").img-fluid

        .header-arrow.mt-5.my-5
            h2.text-center En el siguiente enlace se encuentra un video en donde presentan algunos consejos para mejorar las relaciones interpersonales teniendo como base las necesidades personales. 

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/eZJ46ab0S_o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p El siguiente enlace se encuentra un video que da una breve descripción sobre relaciones interpersonales humanizadas en salud.

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/KnmqCaeZYww', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        h2 Liderazgo y toma de decisiones.
        p En relación con el liderazgo podemos decir que es un conjunto de capacidades que tiene el individuo para contribuir en forma positiva en el actuar de las personas. A su vez en nuestro entorno laborar se debe lograr que el equipo de trabajo realice sus actividades con entusiasmo para la satisfacción de cada uno como persona. Esto aplica también para el usuario y así aportar al cumplimiento de las metas de la institución.

        p Las 10 cualidades más importantes que todo líder debe poseer son:

        .row.justify-content-center.mt-5

            .col-12.col-md-8
                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_3.png").img-fluid
                        h2 1. BUENOS COMUNICADORES
                        p Un buen líder tiene poder de palabra, es decir, una persona que se comunica constantemente con todo el equipo se da a entender, que habla con un tono de voz adecuado, pero con fuerza y entusiasmo, sin alterarse, respetando la opinión del otro.

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_4.png").img-fluid
                        h2 2. EMPATÍA
                        p La empatía consiste en ponerse en el lugar del otro, y si los líderes quieren entender a cada miembro de su equipo deben desarrollar esta destreza.  

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_5.png").img-fluid
                        h2 3. RESPONSABLE Y COMPROMETIDO
                        p La responsabilidad es una característica que toda persona debe poseer, si te comprometes en realizar una actividad tienes la responsabilidad de hacerla, así de simple. Como líder, todo lo que se le transmite a un equipo, debe ponerlo en práctica el primero. 

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_6.png").img-fluid
                        h2 4. VISIÓN ESTRATÉGICA
                        p Todo líder debe tener intuición y creatividad que le permita plantearse estrategias para lograr un mayor crecimiento, planificar metas a largo plazo y asegurarse que todo el equipo trabaja en pro de lograrlo. 

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_7.png").img-fluid
                        h2 5. SABER DELEGAR
                        p Cuando el líder sabe delegar le transmite al equipo confianza y eso repercute de manera positiva en el ambiente laboral. Por ello hay que mantener una actitud abierta y flexible, que sean líderes capaces de adaptarse a cualquier situación que se presente teniendo la vista puesta en alcanzar el objetivo.

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_8.png").img-fluid
                        h2 6. MOTIVADORR
                        p Liderazgo y motivación van de la mano. No es sólo motivar al equipo, es auto motivarse, incentivar el cumplimiento de objetivos y alentar al equipo en situaciones adversas.

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_9.png").img-fluid
                        h2 7. CONOCERSE
                        p Para poder manejar, conocer y entender a otras personas, lo principal es conocerse y autorregularse, que se reconozca sus fortalezas y debilidades, eso permite mejorar tus habilidades sociales y las relaciones con las demás personas. 

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_10.png").img-fluid
                        h2 8. PERSUASIÓN
                        p Un buen líder no va hacia un grupo a imponer sus ideas e intenta que ellos lo sigan por tener ideas increíbles. El líder debe usar el poder de la palabra y la persuasión para convencer al otro, argumentando, seduciendo, convenciendo y enriqueciendo sus ideas con las de los demás.

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_11.png").img-fluid
                        h2 9. DETERMINADOS Y EXIGENTES
                        p Así como el líder le exige a su equipo, él debe ser igual de exigente consigo mismo, debe dar ejemplo. Estos valores se inculcan y se integran dentro de la cultura organizacional.

                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_13/img_12.png").img-fluid
                        h2 10. VALORES
                        p El líder debe contar valores y principios sólidos, y una ética inquebrantable. Este fomento de valores le permite al líder realizar un trabajo de forma segura. (Amazonia_Team, 2019)

        .jumbotron.card-media.mt-5

            .row.justify-content-center
                .col.px-3
                    h2 La toma de decisiones
                    p A lo largo de nuestras vidas tomamos diversidad de decisiones que pueden ser acertadas o no. Así mismo esa decisión conlleva a unas consecuencias que nos permiten dar respuesta a los desafíos a los que diariamente nos enfrentamos. 
                    p En líneas generales, tomar una decisión implica:
                .col-auto
                    img.img-a.mt-0(src="assets/images/pages/tema_5/img_2.png").img-fluid
                .container
                                   
                    .card(style="min-width: 200px")
                        .card-body
                            ul.ul1
                                li
                                    p Definir el propósito: qué es exactamente lo que se debe decidir.

                                li 
                                    p Pensar en las opciones disponibles: cuáles son las posibles alternativas.
                                
                                li
                                    p Evaluar las opciones: cuáles son los pros y contras de cada una.

                                li
                                    p Escoger entre las opciones disponibles: cuál de las opciones es la mejor.
                                
                                li  
                                    p Convertir la opción seleccionada en acción. (wikieoi, 2012)

