.container
    .header-ecored
        h1 14. Etiqueta y protocolo
    .jumbotron.bg-white
        .row.justify-content-center.mt-5.no-margin

                    .col-12.col-md-5.mb-5.mr-md-4.my-5

                        .card(style="min-widht: 280px")
                        
                            .card-body.text-center

                                .avatar.avatar-xxl.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/tema_14/img_1.png").avatar-img

                                p.header-step.flex-column.justify-content-center.align-items-center
                                    h2.cad-title ETIQUETA
                                    hr.border-color-primary.border-2
                                    p Son las normas que nos direcciona como debemos comportarnos, de acuerdo con el lugar donde nos encontremos. Con esto se quiere decir que es la forma de vestirnos, comportarnos, etc. ante determinada situación. En otras palabras, está orientada a la conducta de las personas. 


                    .col-12.col-md-5.mb-5.mr-md-4.my-5

                        .card(style="min-height: 280px")
                        
                            .card-body.text-center

                                .avatar.avatar-xxl.card-avatar.card-avatar-top
                                    img(src="assets/images/pages/tema_14/img_2.png").avatar-img

                                p.header-step.flex-column.justify-content-center.align-items-center
                                    h2.cad-title PROTOCOLO
                                    hr.border-color-primary.border-2
                                    p Es un conjunto de reglas establecidas, que se deben dar en continuidad para la ejecución de un proceso o actividad. Es necesario recalcar que el protocolo está establecido por un orden. 

        .header-arrow.mt-5.my-5
            h2.text-center El siguiente enlace lleva a un video llamado “protocolos de atención al cliente” y da a conocer las diferentes actitudes que tenemos frente a nuestro usuario y el respeto que debemos demostrar hacia ellos. 

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/egkOLUiEdx4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p El siguiente enlace lleva a otro video llamado “protocolo servicio al cliente” en donde se presentan las 10 reglas principales a la hora de atención al cliente. 

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/ejD34cB36aQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p En el Protocolo de atención al ciudadano sector salud del Ministerio de Salud y Protección Social, puede encontrar temas de su interés como: 

        ul.ul1
            li
                p Atributos del buen servicio. 
            li
                p Actitud.
            li
                p Atención a personas alteradas.


        .row.justify-content-center.no-margin
            .col-12.col-md-5.mb-5.mr-md-4.my-5
                    
                section

                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaD" target="_blank").media-link.color-4      
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p Protocolo de atención al ciudadano.

        h2 Ficha técnica uniformes

        p.my-0 Servicio nacional de aprendizaje –SENA. Centro de Formación Talento Humano en Salud
        p Regional Distrito Capital. 

        p.my-0 En el documento se encuentran las especificaciones técnicas de los uniformes de la institución.
        p    Programas de Formación: Administración en Salud.


        .row.justify-content-center.no-margin
            .col-12.col-md-5.mb-5.mr-md-4.my-5
                section

                        a(href="media/documentos/Anexo_2_FICHA_TECNICA_UNIFORMES.pdf" target="_blank").media-link      
            
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                            .media-link-title
                                p #[strong Anexo 2]. Especificaciones técnicas uniformes programas de formación asistenciales en servicios de salud.



