.container
    .header-ecored
        h1 5. El Sistema General de Riesgos Profesionales. (Decreto 1295 de 1994)
    .jumbotron.bg-white
        p La Ley 100 de 1993 definió el objeto del Sistema General de Pensiones: “garantizar a la población el amparo contra las contingencias derivadas de la vejez, la invalidez y la muerte mediante el reconocimiento de las pensiones y prestaciones que se determinan en la Ley, así como propender por la ampliación progresiva de cobertura a los segmentos de población no cubiertos con un sistema de pensiones”.

        p A continuación, podrá observar dos videos:

        p El primero se titula ¿Cómo funciona el sistema pensional colombiano? Como es el de ahorro individual o solidario (RAIS) entre los que tenemos Colfondos, Porvenir, etc. y el régimen de pruina media (RPM) representado por Colpensiones.

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/CoB_6Z8gtlU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p El segundo video es de clases de pensiones. Donde se explica la diferencia entre los fondos de pensiones públicos y los privados 

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/CoB_6Z8gtlU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p A través del tiempo el régimen pensional ha tenido diferentes modificaciones que se pueden precisar desde la Ley 100 de 1993 (diciembre 23), por la cual se crea el sistema de seguridad social integral y se dictan otras disposiciones: El libro primero sistema general de pensiones, Decretos 1450 del 3 de julio de 2012, Por el cual se reglamenta el Decreto Ley 019 de 2012; las Resoluciones cómo 2030 del 17 de diciembre de 2019, Por la cual se declara el decaimiento de 4 resoluciones de ordenación de gasto y pago de interese moratorios y/o costas procesales de la vigencia 2019. Y demás normatividad existente.

        img.img-a(src="assets/images/pages/tema_5/img_1.png").img-fluid
        
        .row.justify-content-center.align-items-center
            .col-6
                .header-arrow.px-3.py-4
                    h3.justify-content-center.align-items-center A continuación, se encuentra un cuadro en donde pueden ser revisadas las actualizaciones del Decreto 1833 de 2016. 
            .col-6
                .header-arrow.px-3.py-3
                    h3.justify-content-center.align-items-center Se presenta el siguiente enlace que lleva a un cuadro en donde se describe todo el marco normativo de pensiones en nuestro país. Este cuadro fue construido por el Ministerio de Hacienda.

        .jumbotron.color-2

            .row.justify-content-center.mt-5.no-margin
                .col-12.col-md-5.mb-5.mr-md-4.my-5
                        
                    section.my-5

                        a(href="https://www.mintrabajo.gov.co/web/guest/normatividad/decreto-unico-sistema-general-de-pensiones" target="_blank").media-link.color-4      
            
                            img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                            .media-link-title
                                p Decreto Único Sistema General de Pensiones. #[br] #[strong Fuente:] Ministerio del Trabajo.



                .col-12.col-md-5.mb-5.mr-md-4.my-5
                   
                    section.my-5

                        a(href="https://www.ugpp.gov.co/nuestra-entidad/pensiones" target="_blank").media-link.color-4      
            
                            img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                            .media-link-title
                                p Marco normativo pensiones. #[br] #[strong Fuente:] Ministerio de Hacienda.

        h2 Tipos de regímenes

        p El sistema de acuerdo con su financiación y la modalidad de administración de los recursos está conformado por el Régimen Solidario de Prima Media con Prestación Definida (RPM) y el Régimen de Ahorro Individual con Solidaridad (RAIS). 
        p La administración del primero está a cargo del Estado (actualmente Colpensiones) y la del segundo está a cargo de los fondos privados de pensiones y cesantías.

            .row.justify-content-center.mt-5.no-margin
                .col-12.col-md-5.mb-5.mr-md-4.my-5
                    .row
                        .col-12
                            .quote
                                .quote__bar
                                    .quote__bar__icon    
                                        img(src="assets/images/pages/tema_5/quote_2.png", alt="")
                                    .quote__bar__hr1      
                                .quote__text
                                    h3.text-center Prima media con prestación definida Seguro / Exigible
                                .quote__bar
                                    .quote__bar__hr1 
                                    .quote__bar__icon
                                        img(src="assets/images/pages/tema_5/quote_2_2.png", alt="")  

                .col-12.col-md-5.mb-5.mr-md-4.my-5
                    .row
                        .col-12
                            .quote
                                .quote__bar
                                    .quote__bar__icon    
                                        img(src="assets/images/pages/tema_5/quote_1.png", alt="")
                                    .quote__bar__hr2      
                                .quote__text
                                    h3.text-center Ahorro individual con solidaridad capacidad de capitalización / Rentabilidad
                                .quote__bar
                                    .quote__bar__hr2 
                                    .quote__bar__icon
                                        img(src="assets/images/pages/tema_5/quote_1_2.png", alt="")

        h2 Afiliación al sistema

        p En tanto que la escogencia del régimen es libre y voluntaria, la afiliación al sistema es obligatoria para:  

        .row.mb-5
            .col-12
                .chat
                    .chat-avatar
                        img(src="assets/images/icons/user.png", alt="")
                    .chat-box.cb--odd
                        p.mb-0 Trabajadores dependientes, los servidores públicos o para los independientes vinculados mediante la modalidad de contratación por prestación de servicios.
            .col-12.d-flex.justify-content-end
                .chat
                    .chat-avatar.order-2
                        img(src="assets/images/icons/user_1.png", alt="")
                    .chat-box.cb--even.order-1
                        p.mb-0 Voluntaria para los independientes sin contrato.
            .col-12
                .chat
                    .chat-avatar
                        img(src="assets/images/icons/user.png", alt="")
                    .chat-box.cb--odd
                        p.mb-0 Condición necesaria para el reconocimiento y pago de las prestaciones y de las pensiones de invalidez, vejez y sobrevivientes y de la obligación de efectuar los aportes (cotización o ahorro).
            .col-12.d-flex.justify-content-end
                .chat
                    .chat-avatar.order-2
                        img(src="assets/images/icons/user_1.png", alt="")
                    .chat-box.cb--even.order-1
                        p.mb-0 La afiliación al Sistema General de Pensiones es permanente, excluyente, de carácter contractual y no se pierde por mora. 
            .col-12
                .chat
                    .chat-avatar
                        img(src="assets/images/icons/user.png", alt="")
                    .chat-box.cb--odd
                        p.mb-0 Obligatoria Para personas naturales con vinculación contractual, que sirvan al Estado o beneficiarios del Fondo de Solidaridad Pensional.
            .col-12.d-flex.justify-content-end
                .chat
                    .chat-avatar.order-2
                        img(src="assets/images/icons/user_1.png", alt="")
                    .chat-box.cb--even.order-1
                        p.mb-0 Afiliados
                        p.mb-0 Activos: Cotizantes
                        p.mb-0 Inactivos: Personas con mora superior a seis meses.

            .col-12
                .chat
                    .chat-avatar
                        img(src="assets/images/icons/user.png", alt="")
                    .chat-box.cb--odd
                        p.mb-0 Voluntaria Para extranjeros con contratos y en los contratos en los que la afiliación no es obligatoria.
            .col-12.d-flex.justify-content-end
                .chat
                    .chat-avatar.order-2
                        img(src="assets/images/icons/user_1.png", alt="")
                    .chat-box.cb--even.order-1
                        p.mb-0 Para el reconocimiento de las pensiones se tiene en cuenta el número de semanas cotizadas y los dos regímenes basados en el principio de solidaridad garantizan el reconocimiento y el pago de una pensión mínima la cual solo podrá causarse por invalidez o por vejez. 
            .col-12
                .chat
                    .chat-avatar
                        img(src="assets/images/icons/user.png", alt="")
                    .chat-box.cb--odd
                        p.mb-0 En el caso que el afiliado al cumplir la edad de la pensión no cumpla con los demás requisitos para el efecto y, dependiendo del régimen en el cual se encuentre afiliado, tendrá derecho a la devolución de saldos o a una indemnización sustitutiva.


        h2 Reconocimientos del régimen de prima media

        ul.ul1
            li.mt-5
                p Con los requisitos mínimos de una cotización de 1300 semanas y con 57 años para las mujeres y 62 años para los hombres.

            li.mt-5
                p Se debe haber perdido el 50 % o más de su capacidad laboral a causa de una actividad no profesional.

            li.mt-5
                p Es la que deja el afiliado a sus beneficiarios al fallecer y puede ser causada por muerte del pensionado o por muerte del trabajador activo.

        .jumbotron.card-media.mt-5
            .row.justify-content-center
                .col.px-3
                    h2 Régimen de ahorro individual con solidaridad.
                    p En este régimen el financiamiento de las pensiones se hace a través de una cuenta individual de ahorro manejada por la administradora de pensiones. Las cotizaciones de cada afiliado están dirigidas a financiar su propia pensión centrando su efectividad en la acumulación de capital en la cuenta individual del afiliado (cantidad cotizada) dejando de lado los requisitos de edad y tiempo de cotización exigidos por el Régimen de Prima Media. 
                    p Algunas características de la financiación de este régimen son:
                .col-auto
                    img.img-a.mt-0(src="assets/images/pages/tema_5/img_2.png").img-fluid
                .container
                .row.justify-content-center.align-items-stretch

                    .col-12.col-md-5
                        .card(style="min-height: 485px")
                            .card-body.mt-5
                                ul.ul1
                                    li
                                        p Existe una relación directa entre la cantidad cotizada y la expectativa de pensión (la cuantía depende de la cantidad ahorrada y los rendimientos)

                                    li 
                                        p Existe la posibilidad de hacer cotizaciones adicionales.
                                    
                                    li
                                        p Garantiza el beneficio al reunir el capital que financie la pensión.

                                    li
                                        p Los aportes no van a un fondo común, aunque parte de los aportes se destinan a seguros, asesoría y administración.
                                    
                                    li  
                                        p Las administradoras están obligadas a garantizar una rentabilidad mínima y en caso de insuficiencia del capital para financiar la pensión, el sistema contempla la devolución de saldos al cotizante.


                    .col-12.col-md-5.ml-2
                        .card(style="min-height: 485px")
                            .card-body.mt-5
                                ul.ul1
                                    li
                                        p Retiro programado: se pueden realizar retiros periódicos.

                                    li 
                                        p Renta vitalicia: traslado del capital pensional a una aseguradora que promete una renta vitalicia.
                                    
                                    li
                                        p Retiro programado con renta vitalicia diferida.   

        h2.mt-5 Conclusiones
        p #[strong Cuadro 1 ]Diferencias entre Régimen de pensión Público y privado 

        table.table.table-nowrap.justify-content-center.text-center
            thead
                tr
                    th(scope='col').color-5 PRIMA MEDIA
                    th(scope='col').color-5 
                    th(scope='col').color-5 AHORRO INDIVIDUAL
                    
            tbody
                tr
                    td.color-3 Prima de seguro obligatoria
                    td.color-5 Cotización
                    td.color-3 Capitalización individual #[br] Cotizaciones adicionales
                   
                tr
                    td.color-3 El derecho a pensión no depende del aporte
                    td.color-5 Pensió
                    td.color-3 No se requiere edad o tiempo A mayor cotización (ahorro), #[br]mayor posibilidad de pensión

                tr
                    td.color-3 No
                    td.color-5 Devolución de Saldos
                    td.color-3 Si
                    
                tr
                    td.color-3 Fondo Común
                    td.color-5 Tipo de cuenta
                    td.color-3 Cuenta Pensional Individual

                tr
                    td.color-3 Prima media
                    td.color-5 Modalidad de Pensión
                    td.color-3 Retiro programado #[br] Renta vitalicia #[br] Retiro programado con renta vitalicia



        table.table.table-nowrap.justify-content-center.text-center
            thead
                tr
                    td(colspan="2").color-table #[strong PRIMA MEDIA]
                    td(colspan="2").color-table1 #[strong AHORRO INDIVIDUAL]
                    
            tbody
                tr
                    td.color-table Ventajas
                    td.color-table Desventajas
                    td.color-table1 Ventajas
                    td.color-table1 Desventajas
                   
                tr
                    td.color-table
                        ul.ul1
                            li
                                p Bajos costos de #[br] administración.
                    td.color-table
                        ul.ul1
                            li
                                p Impacto por transición #[br]demográfica.
                        
                    td.color-table1 
                        ul.ul1
                            li
                                p Aumento del ahorro.

                    td.color-table1
                        ul.ul1
                            li 
                                p Efectividad / Tasas de #[br]rendimiento.


                tr
                    td.color-table
                        ul.ul1
                            li 
                                p Carácter solidario.
                    td.color-table 
                        ul.ul1
                            li 
                                p No relación entre cotización #[br]y pensión.

                    td.color-table1 
                        ul.ul1
                            li 
                                p Fortalecimiento del #[br]mercado de capitales.

                    td.color-table1 
                        ul.ul1
                            li
                                p Riesgo ante crisis #[br]económica
                    
                tr
                    td.color-table
                        ul.ul1
                            li 
                                p No se afecta por crisis #[br]económicas o financieras.

                    td.color-table
                        ul.ul1
                            li 
                                p No genera hábitos #[br]de ahorro.

                    td.color-table1 
                        ul.ul1
                            li 
                                p Relación estrecha entre #[br]capitalización y pensión.

                    td.color-table1 
                        ul.ul1
                            li 
                                p Altos costos de #[br]administración.

                tr
                    td.color-table
                    td.color-table 
                        ul.ul1 
                            li
                                p Riesgo de requerir #[br]soporte estatal.
                    td.color-table1 
                        ul.ul1 
                            li
                                p Devolución del capital.
                    td.color-table1 


                tr
                    td.color-table
                    td.color-table 
                    td.color-table1 
                        ul.ul1 
                            li
                                p Competencia entre #[br]administradoras.
                    td.color-table1 

                tr
                    td.color-table Ventajas
                    td.color-table Desventajas
                    td.color-table1 Ventajas
                    td.color-table1 Desventajas

                tr
                    td.color-table
                        ul.ul1
                            li
                                p Certeza de cumplimiento de #[br]requisitos.

                    td.color-table
                        ul.ul1
                            li
                                p Garantía de pensión al #[br]cumplir la edad.
                        
                    td.color-table1 
                        ul.ul1
                            li
                                p Es flexible, no tiene #[br]requisitos.

                    td.color-table1
                        ul.ul1
                            li 
                                p No exige edad.


                tr
                    td.color-table
                        ul.ul1
                            li 
                                p Tiempo de cotización #[br]mayor al exigido #[br]afecta el monto #[br]de pensión.
                    td.color-table 
                        ul.ul1
                            li 
                                p Requisitos estrictos.

                    td.color-table1 
                        ul.ul1
                            li 
                                p Garantía estatal para: #[br]Edad: #[br]Mujeres 57 años #[br]Hombres 62 años #[br]Cotización: 115 semanas.


                    td.color-table1 
                        ul.ul1
                            li
                                p No hay garantías #[br]estatales.
                    
                tr
                    td.color-table
                        ul.ul1
                            li 
                                p Pago de cotización menor #[br]que monto de pensión

                    td.color-table
                        ul.ul1
                            li 
                                p Límite de cuantía de pensión #[br]en 25 SMLV

                    td.color-table1 
                        ul.ul1
                            li 
                                p No financiación de #[br]pensión mínima.

                    td.color-table1 
                        ul.ul1
                            li 
                                p Traslado de bono #[br]pensional.

                tr
                    td.color-table
                        ul.ul1
                            li
                                p Cotización continua o #[br]discontinua.
                    td.color-table 
                    td.color-table1 
                        ul.ul1 
                            li
                                p Devolución de saldo (no #[br]pensión –no garantía #[br]estatal).
                    td.color-table1 
                        ul.ul1  
                            li
                                p Descuentos: #[br]Administración.


                tr
                    td.color-table
                        ul.ul1
                            li 
                                p Pensión vitalicia #[br]a sobrevivientes.
                    td.color-table 
                    td.color-table1 
                        ul.ul1 
                            li
                                p Escogencia –traslado #[br]administrador.
                    td.color-table1
                        ul.ul1
                            li
                                p Seguro invalidez.

                tr
                    td.color-table
                        ul.ul1
                            li 
                                p Hay garantía #[br]del Estado.
                    td.color-table 
                    td.color-table1 
                        ul.ul1 
                            li
                                p Esquema multifondos.
                    td.color-table1
                        ul.ul1
                            li 
                                p Sobrevivientes.


                tr
                    td.color-table
                    td.color-table 
                    td.color-table1
                    td.color-table1
                        ul.ul1
                            li 
                                p No mesada adicional.
         
                   
            