.container
    .header-ecored
        h1 9. Mecanismo para el reporte de información que permitirá la verificación de la entrega de la Carta de Derechos y Deberes del Afiliado y del Paciente y la Carta de Desempeño de la EPS. (Resolución 1379 de 2015)
    .jumbotron.bg-white
        p Mecanismo para el reporte de información que permitirá la verificación de la entrega de la Carta de Derechos y Deberes del Afiliado y del Paciente y la Carta de Desempeño de la EPS (Resolución 1379 de 2015.)

        .row
            .col-12
                table.table.justify-content-center
                                    
                    tr
                        td.color-5.text-list Artículo 1.
                        td.color-3 Objeto.

                    tr
                        td.color-5.text-list Artículo 2.
                        td.color-3 Selección de información a ser reportada. 

                    tr
                        td.color-5.text-list Artículo 3.
                        td.color-3 Reporte de información.
            

                    tr
                        td.color-5.text-list Artículo 4.
                        td.color-3 Anexos técnicos para el reporte de información.        

                    tr
                        td.color-5.text-list Artículo 5.
                        td.color-3 Periodicidad y plazo del reporte de la información 
                    
                    tr
                        td.color-5.text-list Artículo 6.
                        td.color-3 Actualización y modificación de la Carta de Derechos y Deberes del Afiliado y Carta de Desempeño de EPS.

                    tr
                        td.color-5.text-list Artículo 7.
                        td.color-3 Tratamiento de la información.

                    tr
                        td.color-5.text-list Artículo 8.
                        td.color-3 Vigencia.

        p El Ministerio de Salud y Protección Social y la Superintendencia Nacional de Salud en ejercicio de las facultades que a cada uno compete en relación con el Sistema General de Seguridad Social en Salud, se permiten instruir a las Entidades Promotoras de Salud de los Regímenes Contributivo y Subsidiado respecto de los mecanismos a través de los cuales deberán disponer la información al ciudadano relacionada tanto con la Carta de Derechos y Deberes del Afiliado y del Paciente en el  Sistema General de Seguridad Social en Salud, como con la carta de desempeño de dichas entidades (Minsalud, s.f.).

        .header-arrow
            h3.text-center Estimando aprendiz en la siguiente infografía se encuentran los 23 derechos y 6 deberes que tienen que ser conocidos por los usuarios. 

        .row.justify-content-center.no-margin
                .col-12.col-md-5.mb-5.mr-md-4.my-5
                    section

                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/CA/carta-derechos-deberes-afiche.pdf" target="_blank").media-link.color-4      

                            img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                            .media-link-title
                                p derechos y deberes en los servicios de salud

        p A continuación, se encuentra un video donde se presenta la carta de derechos y deberes del usuario.  

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/nTiPxWOYx5A', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p En el siguiente enlace del ministerio de salud, puede ampliar información acerca de la Carta de derechos y deberes y carta de desempeño del afiliado al sistema de salud de cada una de las IPS y EPS. 

        .row.justify-content-center.no-margin
                .col-12.col-md-5.mb-5.mr-md-4.my-5
                    section

                        a(href="https://www.minsalud.gov.co/salud/CAS/Paginas/Carta-de-derechos-y-deberes-y-carta-de-desempe%C3%B1o-del-afiliado-al-sistema-de-salud.aspx" target="_blank").media-link.color-4      

                            img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                            .media-link-title
                                p Página del Ministerio de Salud y Protección Social. Carta de derechos y deberes. 