include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Apoyo Administrativo en Salud
        meta(meta name="description" content="Ruta de aprendizaje programa Apoyo Administrativo en Salud.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Apoyo Administrativo en Salud
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Apoyo Administrativo en Salud
                                        li 
                                            span #[strong Código:] 134507
                                        li 
                                            span #[strong Total Horas:] 2640 
                                        li 
                                            span #[strong Duración en semanas:] 18 meses
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] 
                                                ul
                                                    li Nivel académico adecuado para caracterizar al aspirante de acuerdo con el perfil de egreso: Básico Secundaria, grado 9°. Requiere certificación académica.
                                                    li No requiere formación para el trabajo y desarrollo humano.
                                                    li Edad mínima definida por ley: 16 años.
                                                    li Superar el procedimiento de Ingreso establecido por el centro de Formación.
                                                    li Aspectos actitudinales, motivacionales o de interés: personas con valores morales, éticos, culturales y ecológicos; con capacidad crítica, líder, emprendedora y creativa.



                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/uPJl6WK0Wm8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Según la OMS (1948), “la salud es un estado de bienestar físico, mental y social completo, y no meramente la ausencia del mal o la enfermedad”. Este concepto pasó a ser parte fundamental en el desarrollo de la sociedad moderna. Actualmente, es indispensable contar al menos con lo esencial en cuanto a este tema, bien sea una persona especializada en servicios médicos o un centro de asistencia donde sea posible la atención de este tipo.

                p Por lo anterior, el programa, Técnico en Apoyo Administrativo en Salud, brinda conocimientos para que el aprendiz desarrolle la competencia en cuanto a la orientación y admisión al usuario, en la red prestadora de servicios de salud, para una adecuada atención, cumpliendo con los procesos y procedimientos establecidos en la normatividad vigente. Así como también, los contenidos relacionados con la liquidación de los servicios de salud prestados, teniendo en cuenta la normativa vigente y los protocolos institucionales.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El programa, Técnico en Apoyo Administrativo en Salud, se creó para brindar al sector productivo de la salud, la posibilidad de incorporar a sus instituciones, personal con altas habilidades de competencias laborales y profesionales que contribuyen al desarrollo económico, social y tecnológico de su entorno y del país. Así mismo, ofrecer a los aprendices formación en tecnologías relacionadas con el manejo, prestación, pautas y programación de servicios, dentro del esquema de aseguramiento en salud.

                p En todo el país se cuenta con potencial productivo en el área administrativa de la salud, su fortalecimiento y crecimiento socioeconómico, tanto a nivel regional como nacional que dependen, en gran medida, de un recurso humano cualificado y calificado, capaz de responder integralmente a la dinámica del sector. 

                p El SENA es la Institución de formación, líder en ofrecer el programa con todos los elementos de formación profesional, sociales, tecnológicos y culturales, metodologías de aprendizaje innovadoras, acceso a la tecnología de última generación, estructurado con más fundamento en métodos, que en contenidos; lo que potencia la formación de ciudadanos libres pensadores, con capacidad crítica, solidarios y emprendedores, que lo acreditan y lo hacen pertinente y coherente con su misión, innovando permanentemente de acuerdo con las tendencias y cambios tecnológicos y las necesidades del sector empresarial y de los trabajadores, impactando positivamente la productividad, la competitividad, la equidad y el desarrollo del país. De acuerdo con la línea tecnológica, este programa le apunta al cliente, eje fundamental para el desarrollo empresarial.



        section#Poblacion.section.section-dark

            .container

                h1  3.	Competencias a  <br>desarrollar
                .brand-line-primary


                ul
                    li Orientar personas según normativa de salud.
                    li Apoyar el proceso de afiliación de la población al Sistema General de Seguridad Social en Salud según normativa vigente.
                    li Admitir personas al servicio según normativa de salud.
                    li Registrar información de acuerdo con normativa y procedimiento técnico.
                    li Aplicar prácticas de protección ambiental, seguridad y salud en el trabajo de acuerdo con las políticas organizacionales y la normatividad vigente.
                    li Interactuar en lengua inglesa de forma oral y escrita dentro de contextos sociales y laborales según los criterios establecidos por el marco común europeo de referencia para las lenguas.
                    li Razonar cuantitativamente frente a situaciones susceptibles de ser abordadas de manera matemática en contextos laborales, sociales y personales.
                    li Utilizar herramientas informáticas de acuerdo con necesidades de manejo de información.
                    li Generar hábitos saludables de vida mediante la aplicación de programas de actividad física en los contextos productivos y sociales.
                    li Ejercer derechos fundamentales del trabajo en el marco de la constitución política y los convenios internacionales.
                    li Interactuar en el contexto productivo y social de acuerdo con principios éticos para la construcción de una cultura de paz.



        section#Poblacion.section.section-light

            .container

                h1  4.	Perfil de <br>ingreso
                .brand-line-primary


                ul
                    li Nivel académico adecuado para caracterizar al aspirante de acuerdo con el perfil de egreso: Básico Secundaria, grado 9°. Requiere certificación académica.
                    li No requiere formación para el trabajo y desarrollo humano.
                    li Edad mínima definida por ley: 16 años.
                    li Superar el procedimiento de Ingreso establecido por el centro de Formación.
                    li Aspectos actitudinales, motivacionales o de interés: personas con valores morales, éticos, culturales y ecológicos; con capacidad crítica, líder, emprendedora y creativa.


        section#Poblacion.section.section-dark

            .container

                h1  5.	Perfil de <br>egreso
                .brand-line-primary

                
                p.mt-5 La proyección del egresado del técnico Apoyo Administrativo en salud, en lo laboral desarrolla  capacidad de realizar actividades de apoyo administrativo en salud de acuerdo a la normatividad legal vigente, en lo empresarial podrá ser empleado o empresario a partir de la generación de una unidad productiva donde desarrolle actividades propias de su perfil.

                p En general para el egresado se propone el desarrollo de competencias del recurso humano que permitan, desde su desempeño, garantizar a los usuarios atención con calidad, oportunidad, pertinencia, humanización e integralidad, con alta formación técnica basado en el adecuado relacionamiento del aprendiz con el ambiente laboral y un continuo proceso de crecimiento personal para desarrollar actividades administrativas de apoyo en los procesos asistenciales que implementan los distintos actores involucrados en la atención en salud, según normatividad vigente, dando respuesta integral a la dinámica del sector de los servicios en salud y aportando al desarrollo social, tecnológico y cultural del país.             



        section#Estrategia.section.section-light

            .container

                h1 6. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad del proyecto educativo en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes abiertos y pluritecnológicos, que, en todo caso, recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias.

                p Igualmente, debe estimular de manera permanente, la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





